.bggrey {
  background: #555555; }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
.bggreyclaire {
  background: #555555; }

>>>>>>> 2bd7456dfcd65fdadcf14dd126e0842e45d137b7
>>>>>>> 90d3f1343bc453eb44bb55a058aa936ee393413b
.bgbody {
  background: #eeeeee; }

.bggreyquote {
  background: #777777; }

.bgorange {
  background: #ff5c02; }

.cfontorange {
  color: #ff5c01; }

.cfontgreay {
  color: #575757; }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
header div li {
  display: inline-block; }

.logo img {
  margin: 15px 0; }

.navBar {
  margin: 1px 0; }
  .navBar li a {
    font-size: 13px;
    padding: 0 10px; }
  .navBar .brand-logo img {
    margin: 0 20px; }

.imageprincipale img {
  width: 100%; }

.billet .white {
  padding: 5px 5px 20px 5px;
  margin: 0 auto 10px auto;
  font-size: 9px; }
.billet div {
  position: relative;
  box-sizing: border-box;
  text-align: center; }
.billet img {
  position: absolute;
  width: 28%;
  top: 0;
  left: 0; }
.billet h2 {
  font-size: 15px;
  font-weight: bold; }
.billet .divider {
  width: 15%;
  margin: 0 auto; }
.billet a {
  margin-bottom: 10px; }

>>>>>>> 2bd7456dfcd65fdadcf14dd126e0842e45d137b7
>>>>>>> 90d3f1343bc453eb44bb55a058aa936ee393413b
/*# sourceMappingURL=pratical.css.map */
