body {
  ul{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  header {
    .row.email {
      //height: 100%;
      border: 1px solid blue;
      display: flex;
      flex-wrap: wrap;
      div.col {
        background-color: #555555;
        //opacity: 0.5;
        color: white;
        border: 1px solid red;
        div {
          //height: 100%;
        }
      }
      ul {
        border: 1px solid yellow;
        //height: 100%;
        li {
          border-right: 1px lightgray solid; //5C5C5C
          padding: 10px;
          display: inline;
          //height: 100%;
          img {

          }
        }

      }
    }
    .row.logo {
      border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
    }
    div.col {
      border: 1px solid blue;
      div {
        //margin: auto;
      }
      ul {
        border: 1px solid yellow;
        //height: 100%;
        li {
          //border-right: 1px lightgray solid; //5C5C5C
          //padding: 10px;
          display: inline;
          //height: 100%;
          img {

          }
        }

      }
    }
  }
}